


/* header */
    /* TOP */
    .start{
        /* DEBUG */
        min-height: 400px;
        padding: 20px 0;
        
    }

    .top{
        /* DEBUG */
        background-color:#2c3e50 ;
        min-height: 10px;
        padding: 20px ;
        
        
    }


    div .navbar-brand{
        color: white;
    }
    div .nav-link{
        color: white;
    }
 


    .bottom{
        /* DEBUG */
        background-color:#1abc9c ;
        
    }


    /* BOTTOM */
    .circle{
        width: 200px;
        height: 200px;
        border: solid black 2px;
        border-radius: 50%;
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .star{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .dash{
        height: 0px;
        width: 100px;
        border: 2px solid white;
        
    }

    .job{
        display: flex;
        justify-content: center;
        color: white;
    }








/* portfolio */
    .portfolio{
        margin: 40px auto;
    }

    .card{
        width: 400px;
        
    }

    .portfolio .star{
        color: black;
        margin: 10px;
    }

    .portfolio .dash{
        border: 2px solid black;  
         
     }

    .title-port{
        color: bl;
    }



    /* about */

    .about{
        /* DEBUG */
        min-height: 400px;
        background-color:#1abc9c ;
        margin: 40px auto;

    }

    .contact{
        /* DEBUG */
        min-height: 400px;
        margin: 40px auto;

    }

/* footer */
    .location{
        /* DEBUG */
        min-height: 400px;
        background-color:#3a546d ;
        

    }

    .loc{
        margin: 20px auto;
    }

    .copyright{
        /* DEBUG */
        height: 200px;
        background-color:#2c3e50 ;
      

    }
